blue {
  -yaru-folder-bg-color: #76b4e9;
}

brown {
  -yaru-folder-bg-color: #bf9284;
}

green {
  -yaru-folder-bg-color: #58d265;
}

grey {
  -yaru-folder-bg-color: #959595;
}

pink {
  -yaru-folder-bg-color: #f373c6;
}

purple {
  -yaru-folder-bg-color: #be91de;
}

red {
  -yaru-folder-bg-color: #e87171;
}

yellow {
  -yaru-folder-bg-color: #e8c871;
}
