Source: yaru-colors-folder-color
Section: graphics
Priority: extra
Standards-Version: 0.0.3
Maintainer: pakaoraki <pakaoraki@gmx.com>
Build-Depends: debhelper (>=7)
Homepage: https://github.com/pakaoraki/yaru-colors-folder-color

Package: yaru-colors-folder-color
Architecture: all
Section: graphics
Priority: extra
Depends: yaru-theme-icon
Description: Yaru-Color and Folder Color
 Adapt Yaru-Colors for working with Folder Color in Ubuntu 22.04
